@model IEnumerable<gestion_de_notes.Models.Posseder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Coefficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matiere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Coefficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classe.Niveau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matiere.NomMatiere)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
