@model gestion_de_notes.Models.Professeur

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Professeur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPrenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPrenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matiere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matiere.NomMatiere)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProfesseur" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
