@model gestion_de_notes.Models.Professeur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Professeur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPrenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPrenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseProf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseProf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProfesseur">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
