@model gestion_de_notes.Models.Eleve

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eleve</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPrenom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPrenom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumMatricule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumMatricule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdresseEleve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdresseEleve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParentNumTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParentNumTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEleve">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
