@model IEnumerable<gestion_de_notes.Models.Eleve>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomPrenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumMatricule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdresseEleve)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParentNumTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomPrenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumMatricule)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseEleve)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentNumTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classe.NiveauGrp)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEleve">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEleve">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEleve">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
